*{
    box-sizing: border-box;
}


body{
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.bg-light{
    background-color: #f6b319!important;
}

/*
.navbar-light .navbar-toggler-icon{

}
*/


.nav-link{
    text-align: center;
    border-color: #000;
    text-shadow: #f64d19;
}
.nav-link:hover{
    background:rgba(255, 123, 0, 0.56);
    box-shadow: 0 1px 5px 1px;
    border-radius: 2px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0, 0, 0, 0.945);
    border-width: 2px;
}

.navbar-toggler:hover {
    background-color: white;
    border: 0px;
}
.navbar-toggler:focus {
    box-shadow: 0px;
    border: 2px;
}

#brand-name{
    font-size: 4vw;
    color: #000;
    float: left;
}
#page-title{
    text-align: center;
}

/*  end of the header and starting of the body*/

.para-heading{
    text-align: center;
}
#first-box{
    border: 2px solid black;
    position: relative;
    float:left;
    margin: 5px;
    background-color: hsla(3, 50%, 59%, 0.495);

}
#second-box{
    border: 2px solid black;
    position: relative;
    float:left;
    margin: 5px;
    background-color: hsla(1, 48%, 45%, 0.481);

}
#third-box{
    border: 2px solid black;
    position: relative;
    float:left;
    margin: 5px;
    background-color: rgba(232, 179, 185, 0.795);
}

.container-sm{
    margin: 15px;
}

@media (min-width: 1200px){
.col-xl-4 {
    width: 32.33333333%;
}
#first-box, #second-box ,#third-box{
    left: 5px;
}

}

@media (min-width: 992px) and (max-width:1199px){
.col-lg-4 {
    width: 31.33333333%;
}
#first-box, #second-box ,#third-box{
    left: 15px;
}
}

@media (min-width: 768px) and (max-width:991px){
.col-md-6 {
    width: 48%;
}
.col-md-12{
    max-width: 97.3%;
}
#first-box, #second-box ,#third-box{
    left: 7px;
}
#brand-name{
    font-size: 8vw;
}
}

@media (min-width: 576px) and (max-width:767px){
.col-sm-12 {
    max-width: 70%;
}

#first-box, #second-box ,#third-box{
    left: 20%;
}
.container, .container-sm{
    max-width: 350px;
    float: none !important;
}
#brand-name{
    font-size: 8vw;
}
}

@media (max-width: 575px){
.col-12 {
    width: 75%;
}
 #first-box, #second-box ,#third-box{
    left: 12%;
}
#brand-name{
    font-size: 8vw;
}
}
